{% extends '_base_auth.html' %}
{% load static %}
{% block contents %}
<div class="container" data-layout="container">
  <div class="row flex-center min-vh-100 py-6 text-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4"
        href="{% url 'index' %}"><img src="{% static 'img/logos/cloudmate_logo-h40.png' %}" alt="" /></a>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          <p>비밀번호가 복구 되었습니다. 새 비밀번호로 로그인 하세요.</p>
          <a class="w-100 btn btn-lg btn-primary" href="{% url 'login' %}">
            로그인
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}