{% extends '_base_auth.html' %}
{% load static %}
{% block contents %}
<div class="container" data-layout="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-md-8">
      <a class="d-flex flex-center mb-4" href="{% url 'index' %}">
        <img src="{% static 'img/logos/cloudmate_logo-h40.png' %}" alt="" />
      </a>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          <div class="row text-left justify-content-between align-items-center mb-2">
            <div class="col-auto">
              <h5>약관 동의</h5>
            </div>
          </div>
          <form method="post" action="">
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              약관동의처리 과정에서 오류가 발생하였습니다. 다시 시도해주세요.
            </div>
            {% endif %}
            {% csrf_token %}

            {% if form.info.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.info.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" id="terms_of_use" name="terms_of_use" aria-label="서비스 이용 약관 동의" value="{{ terms_of_use.latest }}">
                </div>
                <span class="input-group-text">필수</span>
              </div>
              <input class="form-control" type="text" value="서비스 이용 약관 동의" readonly="">
              <div class="input-group-append">
                <span class="input-group-text">
                  <a href="{% url 'terms-of-use-latest' %}" target="_blank">상세보기</a>
                </span>
              </div>
            </div>

            {% if form.info_protection.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.info_protection.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" id="info_gathering" name="info_gathering" aria-label="개인정보 수집 및 이용 동의" value="{{ info_gathering.latest }}">
                </div>
                <span class="input-group-text">필수</span>
              </div>
              <input class="form-control" type="text" value="개인정보 수집 및 이용에 대한 안내" readonly="">
              <div class="input-group-append">
                <span class="input-group-text">
                  <a href="{% url 'info-gathering-latest' %}" target="_blank">상세보기</a>
                </span>
              </div>
            </div>

            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2.5" readonly="" style="resize: none;">
개인정보 제3자 제공에 대해 동의하지 않을 권리가 있으며,
미동의 시 결제 서비스 이용이 제한 됩니다.</textarea>
            </div>

            {% if form.info_protection.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.info_protection.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" id="using_credit_card" name="usinig_credit_card" aria-label="개인정보 제3자 제공 및 공유 안내" value="{{ using_credit_card.latest }}">
                </div>
                <span class="input-group-text">선택</span>
              </div>
              <input class="form-control" type="text" value="개인정보 제3자 제공 및 공유 안내" readonly="">
              <div class="input-group-append">
                <span class="input-group-text">
                  <a href="{% url 'using-credit-card-latest' %}" target="_blank">상세보기</a>
                </span>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block mt-3" type="submit" name="submit" id="submit" disabled>Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
  function enable_button() {
    if (! $("input:checkbox[name='terms_of_use']").is(":checked")) {
      $('#submit').attr('disabled', true);
      return
    }
    if (! $("input:checkbox[name='info_gathering']").is(":checked")) {
      $('#submit').attr('disabled', true);
      return
    }

    $('#submit').attr('disabled', false);
  }

  $( document ).ready(function () {
    $("#terms_of_use").click(function () {
      enable_button();
    });
    $("#info_gathering").click(function () {
      enable_button();
    });
  });

</script>
{% endblock %}
