{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'portal/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'portal/css/custom.css' %}">
        <script src="{% static 'portal/js/jquery.min.js' %}"></script>
        <script src="{% static 'portal/js/bootstrap.bundle.min.js' %}"></script>      
        <script type="text/javascript" src="http://testpg.easypay.co.kr/webpay/EasypayCard_Web.js"></script>  
    </head>
    <body>
      {% block body %}
      {% endblock %}
    </body>
</html>