{% extends '_base.html' %}
{% load static %}
{% block navbar %}
  {% include '_base_navbar_left.html' %}
{% endblock %}
{% block contents %}
<div class="content">
  {% block navbar-top %}{% include '_base_navbar_top.html' %}{% endblock %}
  <div class="card">
    <div class="card-body overflow-hidden p-lg-6">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'img/illustrations/editing.svg' %}" alt=""></div>
        <div class="col-lg-6 pl-lg-4 my-5 text-center text-lg-left">
          <h3>연락주세요</h3>
          <p class="lead">담당 영업의 조치가 필요합니다.</p><a class="btn btn-falcon-primary" href="mailto:contact@cloudmt.co.kr?subject=[MateCost] ">요청메일 보내기</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    {% include '_base_footer.html' %}
  </footer>
</div>
{% endblock %}
