{% extends '_base.html' %}
{% load static %}
{% block navbar %}
  {% include '_base_navbar_left.html' %}
{% endblock %}
{% block contents %}
<div class="content">
  {% block navbar-top %}{% include '_base_navbar_top.html' %}{% endblock %}

        <div class="col-lg-12">

          <div id="pbi-report-container" style="height: 80vh">
          </div>
          <div id="pbi-error-container">
          </div>

        </div>
    

  <footer>
    {% include '_base_footer.html' %}
  </footer>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'powerbi/js/powerbi.min.js' %}"></script>
  <script src="{% static 'powerbi/js/powerbiConfig.js' %}"></script>
{% endblock %}