{% extends '_base.html' %}
{% load static %}
{% block navbar %}
  {% include '_base_navbar_left.html' %}
{% endblock %}
{% block contents %}
<div class="content">
  {% block navbar-top %}{% include '_base_navbar_top.html' %}{% endblock %}
  <div class="card" style="height: 85vh;">
    <iframe src="{{ iframe_url }}" width="100%" height="100%" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
  </div>
  {% url 'invoice_list' as invoice_list %}
  {% if request.path == invoice_list %}
  <form action="{% url 'payment' %}" method="POST" id="pass_to_payment" hidden>
    {% csrf_token %}
    <input name="invoice" value="">
  </form>
  <script type="text/javascript">
    function proceed_payment(invoiceIds){
      let form = document.getElementById('pass_to_payment');
      for (let i = 0; i < invoiceIds.length; i++){
        let input = document.createElement("input");
        input.type = "text";
        input.name = "invoice";
        input.value = invoiceIds[i];
        input.id = `invoice_${i}`;
        form.appendChild(input);
      }
      form.submit();
    }
  </script>
  {% endif %}
  <footer>
    {% include '_base_footer.html' %}
  </footer>
</div>
{% endblock %}
