{% extends 'portal/base.html' %}
{% block content %}
<div class="container-fluid">
  <form
    method="post"
    action="{% url 'login' %}"
    style="max-width: 500px; margin: 100px auto"
  >
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        사용자명 또는 비밀번호가 틀렸습니다. 다시 시도해주세요.
    </div>
    {% endif %}
    {% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
        로그인 하신 계정은 이 페이지 접근 권한이 없습니다. 
        접근 권한이 있는 계정으로 로그인 후 다시 시도해주세요.
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        페이지를 보려면, 먼저 로그인이 필요합니다.
    </div>
    {% endif %}
    {% endif %}
    <h3 style="text-align: center;">Mate365 Billing Login</h3>
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input
        type="{{ form.username.field.widget.input_type }}"
        value="{{ form.username.value|default_if_none:'' }}"
        class="form-control"
        placeholder="{{ form.username.label }}"
        aria-label="{{ form.username.label }}"
        aria-describedby="basic-addon1"
        name="{{ form.username.html_name }}"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">**</span>
      <input
        type="{{ form.password.field.widget.input_type }}"
        value="{{ form.password.value|default_if_none:'' }}"
        class="form-control"
        placeholder="{{ form.password.label }}"
        aria-label="{{ form.password.label }}"
        aria-describedby="basic-addon1"
        name="{{ form.password.html_name }}"
      />
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">
      로그인
    </button>
    <input type="hidden" name="next" value="{{ next }}" />
    <button class="w-100 btn btn-lg btn-link">암호 복구</button>
  </form>
</div>
{% endblock %}
