{% extends 'portal/shell.html' %} {% load static %} {% block content %}
<script src="{% static 'portal/js/payment.js' %}"></script>
<div style="padding: 10px">
  <h1>이번 달 통합 비용 청구서</h1>
  <h2>2020. 12. 1. ~ 2020. 12. 31.</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제품/서비스</th>
        <th scope="col">상세</th>
        <th scope="col">금액</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Azure 서비스</td>
        <td>Subscription 1개, Category 4개</td>
        <td>97,845원</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Microsoft 부가서비스</td>
        <td>Product 5개</td>
        <td>0원</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Microsoft Support</td>
        <td>Support 미사용</td>
        <td>0원</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Cloudmate 서비스</td>
        <td>Service 미사용</td>
        <td>0원</td>
      </tr>
      <tr class="table-secondary">
        <th scope="row" colspan="3">합계</th>
        <td>97,845원</td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#paymentModal"
  >
    지금 결제
  </button>

  <div
    class="modal fade"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    id="paymentModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">지금 결제</h5>
        </div>
        <div class="modal-body" id="payment-form">
          <div id="payment-error-container" hidden>
            <div class="alert alert-danger" role="alert" id="payment-error">

            </div>
          </div>
          <form>
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input
                type="name"
                value="{{ user.get_full_name }}"
                class="form-control"
                id="card_owner"
                required
              />
              <label for="card_owner">카드 소유자 성명</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="date"
                class="form-control"
                id="owner_birthday"
                required
              />
              <label for="owner_birthday">생년월일</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                value="{{ user.email }}"
                class="form-control"
                id="owner_email"
                required
              />
              <label for="owner_email">이메일</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="tel"
                class="form-control"
                id="phone_number"
                required
              />
              <label for="phone_number">휴대전화</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="tel"
                class="form-control"
                id="card_number"
                required
                maxlength="16"
              />
              <label for="card_number">카드번호</label>
            </div>
            <div class="row g-2 mb-3">
              <div class="col-md">
                <div class="form-floating">
                  <input
                    type="month"
                    class="form-control"
                    id="valid_until"
                    required
                  />
                  <label for="valid_until">카드 유효기간 (년/월) YYMM</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="card_password"
                    maxlength="2"
                    required
                  />
                  <label for="card_password">카드 암호 앞 2자리 **</label>
                </div>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="resetPaymentDialog()"
            >
              취소
            </button>
            <button
              type="button"
              onclick="submitPayment()"
              class="btn btn-primary"
            >
              결제
            </button>
          </div>
        </div>
        <div class="modal-body" id="payment-progress" hidden style="text-align: center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
            <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <h3>결제 진행 중...</h3>
        </div>
        <div class="modal-body" id="payment-success" hidden  style="text-align: center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
          <h3>결제가 완료되었습니다.</h3>
          <div class="modal-footer">
            <button
              type="button"
              onclick="resetPaymentDialog()"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              확인
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
