{% extends '_base.html' %}
{% load static %}
{% load humanize %} 
{% block navbar %}
  {% include '_base_navbar_left.html' %}
{% endblock %}
{% block contents %}
<div class="content">
  {% block navbar-top %}{% include '_base_navbar_top.html' %}{% endblock %}
  <div class="d-flex">
    <div class="card flex-grow-1 min-vh-75">
      <div class="card-header d-flex align-items-center justify-content-between border-top py-0">
        <h5 class="mb-0 py-card">결제내역 조회</h5>
        <div id="bulk-select-replace-element" >
          <form id="invoice_filter">
            <input name="page" value="{{request.GET.page}}" hidden />
            <input type="month" class="form-control" name="date_start" value="{{current_filter.date_start}}" required />
            <span class="ml-2">...</span>
            <input type="month" class="form-control ml-2" name="date_end" value="{{current_filter.date_end}}" required />
            <button class="btn btn-falcon-default btn-sm ml-2" type="submit">
              <span class="fas fa-search" data-fa-transform="shrink-3 down-2"></span>
            </button>
          </form>
        </div>
        <div class="d-none ml-3" id="bulk-select-actions">
          <div class="input-group input-group-sm">
            <button class="btn btn-falcon-default btn-sm ml-2" type="button" onclick="document.forms['pass_to_payment'].submit()">
              <span class="fas fa-shopping-basket" data-fa-transform="shrink-3 down-2"></span>
              <span>선택 청구서 모두 일괄 결제</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-sm table-dashboard fs--1 mb-0 table-hover">
            <thead class="bg-200 text-black">
              <tr>
                <th class="align-middle">#</th>
                <th class="align-middle">결제일시</th>
                <th class="align-middle">주문번호</th>
                <th class="align-middle">결제금액</th>
                <th class="align-middle">카드명의</th>
                <th class="align-middle">카드발급사</th>
                <th class="align-middle">거래번호</th>
                <th class="align-middle">승인번호</th>
                <th class="align-middle">기록 일시</th>
              </tr>
            </thead>
            <tbody id="bulk-select-body">
              {% for payment in page_obj %}
                  <tr data-toggle="modal" data-target="#exampleModal" onclick="getInvoiceDetails({{payment.orderno.orderNo}})">
                    <th class="align-middle">{{ payment.paymentno }}</th>
                    <th class="align-middle">{{ payment.paydate }}</th>
                    <th class="align-middle">{{ payment.orderno.orderNo }}</th>
                    <th class="align-middle">{{ payment.payamount | floatformat:"0" | intcomma }}원</th>
                    <th class="align-middle">{{ payment.cardholder }}</th>
                    <th class="align-middle">{{ payment.cardissuer }}</th>
                    <th class="align-middle">
                      <a class="btn btn-falcon-default btn-sm" type="button" target="_blank"
                        href="https://office.easypay.co.kr/receipt/ReceiptBranch.jsp?controlNo={{payment.tid}}&payment=01">
                        <span>{{ payment.tid }} <small>영수증 보기</small></span>
                      </a>
                    </th>
                    <th class="align-middle">{{ payment.apprno }}</th>
                    <th class="align-middle">{{ payment.regdate }}</th>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer border-top">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" onclick="to_page(1)">&laquo;처음</a></li>
          <li class="page-item"><a class="page-link" onclick="to_page({{ page_obj.previous_page_number }})">이전</a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" onclick="to_page({{ page_obj.next_page_number }})">다음</a></li>
          <li class="page-item"><a class="page-link" onclick="to_page({{ page_obj.paginator.num_pages }})">마지막&raquo;</a></li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </div>
  <!-- Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="invoiceDetail" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">결제내역 상세</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h2>#<span id="invoiceId">0000</span></h2>
          <ul>
            <li><b>주문 일시:</b> <span id="invoiceDate"></span></li>
            <li><b>인보이스 수량:</b> <span id="invoiceQty"></span></li>
            <li><b>청구 금액:</b> <span id="invoiceAmount"></span></li>
            <li><b>결제 금액:</b> <span id="invoicePaid"></span></li>
          </ul>
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">인보이스 ID</th>
                <th scope="col">청구 날짜</th>
                <th scope="col">결제/청구 금액</th>
              </tr>
            </thead>
            <tbody id="invoiceList">
             <tr>
                <td scope="row">
                  <small>0000</small><br/>
                </td>
                <td>0000-00-00</td>
                <td>
                  0원<small>결제</small> / 0원<small>청구</small>           
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    {% include '_base_footer.html' %}
  </footer>
</div>
{% endblock %}

{% block extra_js %}
  <script>
  function to_page(page){
    let filter = document.forms["invoice_filter"]
    filter.page.value = page;
    filter.submit();
  }

  function set_iframe(detail_url){
    document.getElementById("payment-details").src = detail_url;
  }

  async function getInvoiceDetails(id){
    let invoiceId = document.getElementById("invoiceId");
    let invoiceDate = document.getElementById("invoiceDate");
    let invoiceQty = document.getElementById("invoiceQty");
    let invoiceAmount = document.getElementById("invoiceAmount");
    let invoicePaid = document.getElementById("invoicePaid");
    let invoiceList = document.getElementById("invoiceList");
    let result = await fetch("{% url 'payment_details' %}?id="+id);
    if(result.ok){
      let data = await result.json();
      invoiceId.innerText = data.order_summary.orderNo;
      invoiceDate.innerText = data.order_summary.orderDate;
      invoiceQty.innerText = data.order_details.length;
      invoiceAmount.innerText = `${Math.round(data.order_summary.totalAmount)}원`;
      invoicePaid.innerText = `${Math.round(data.order_summary.paid)}원`;

      let invoiceListStr = ""
      for(let item of data.order_details){
        invoiceListStr += `
                <tr>
                  <td scope="row">${item.invoiceId}</td>
                  <td>${item.invoiceDate}</td>
                  <td>
                    ${Math.round(item.paid)}원<small>결제</small> / ${Math.round(item.amount)}원<small>청구</small>           
                  </td>
                </tr>
              `;
      }
      invoiceList.innerHTML = invoiceListStr;
    }
  }
</script>
{% endblock %}