{% extends 'portal/shell.html' %} {% load static %} {% block content %}

<div style="padding: 10px">
  <h1>이번 달 통합 비용 청구서</h1>
  <h2>2020. 12. 1. ~ 2020. 12. 31.</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제품/서비스</th>
        <th scope="col">상세</th>
        <th scope="col">금액</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Azure 서비스</td>
        <td>Subscription 1개, Category 4개</td>
        <td>97,845원</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Microsoft 부가서비스</td>
        <td>Product 5개</td>
        <td>0원</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Microsoft Support</td>
        <td>Support 미사용</td>
        <td>0원</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Cloudmate 서비스</td>
        <td>Service 미사용</td>
        <td>0원</td>
      </tr>
      <tr class="table-secondary">
        <th scope="row" colspan="3">합계</th>
        <td>97,845원</td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#paymentModal"
  >
    지금 결제
  </button>

  <div
    class="modal fade"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    id="paymentModal"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">지금 결제</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
              <input type="name" value="{{ user.get_full_name }}" class="form-control" id="cardOwner" required>
              <label for="cardOwner">카드 소유자 성명</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="birthday" required>
              <label for="birthday">생년월일</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" value="{{ user.email }}" class="form-control" id="email" required>
              <label for="email">이메일</label>
            </div>
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="phoneNumber" required>
              <label for="phoneNumber">휴대전화</label>
            </div>
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="cardNumber" required maxlength="16">
              <label for="cardNumber">카드번호</label>
            </div>
            <div class="row g-2 mb-3">
              <div class="col-md">
                <div class="form-floating">
                  <input type="month" class="form-control" id="validYear" required>
                  <label for="validYear">카드 유효기간 (년/월) YYMM</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input type="password" class="form-control" id="cardpass" maxlength="2" required>
                  <label for="cardpass">카드 암호 앞 2자리 **</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">결제</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            취소
          </button>
          <button type="button" class="btn btn-primary">결제</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
