{% extends '_base_auth.html' %}
{% load static %}
{% block contents %}

<div class="card">
  <div class="card-body p-4 p-sm-5">
    {% url 'issue_token' as issue_token %}
    {% url 'new_payment' as new_payment %}
    {% if request.path == issue_token %}
      <h2>결제수단 등록 오류</h2>
      <p><b>대상 조직</b> {{ request.user.org_last_selected }}</p>
      <p>신규 결제수단 등록 중 오류가 발생했습니다.</p>
      <p>결제수단 정보를 잘못 입력하신 것일 수 있습니다. 오탈자가 없는지, 결제수단 암호가 틀린것은 아닌지, 만료되어 더이상 유효하지 않은 결제수단은 아닌지 확인해 보세요.</p>
      <p><b>오류 코드</b> {{ ERROR_CODE }}</p>
      <p><b>오류 메시지</b> {{ ERROR_MSG }}</p>
      <a class="btn btn-block mt-3" href="../" type="submit" name="submit">등록 취소(이전 화면으로)</a>
      <a class="btn btn-primary btn-block mt-3"  href="../new" type="submit" name="submit">다시 시도</a>
    {% elif request.path == new_payment %}
      <h2>개인정보 등록 필요</h2>
      <p><b>대상 조직</b> {{ request.user.org_last_selected }}</p>
      <p>계정에 휴대전화 번호와 결제 청구지 주소가 저장되어 있지 않습니다.</p>
      <p>계정 설정 화면으로 이동하여 먼저 입력해 주세요.</p>
      <a class="btn btn-block mt-3" href="../">등록 취소(이전 화면으로)</a>
      <a class="btn btn-primary btn-block mt-3"  href="{% url 'settings' %}">계정 설정</a>
    {% endif %}
  </div>
</div>

{% endblock %}