div#user-tools {
    font-size: 15px;
}

div#user-tools>a:nth-child(1) {
    font-weight: bold;
}

#pbi-report-container iframe,
#payment-details {
    border: none;
}

/* noto-sans-kr-regular - latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style : normal;
    font-weight: 400;
    src        : url('../fonts/noto-sans-kr-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src        : local(''),
        url('../fonts/noto-sans-kr-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/noto-sans-kr-v13-latin-regular.otf') format('opentype'),
        /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v13-latin-regular.svg#NotoSansKR') format('svg');
    /* Legacy iOS */
}

html {
    font-family: "Noto Sans KR" !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.nav-link-disable {
    color: #b6c1d2 !important;
}


@media (min-width: 576px) {
    #invoice_filter {
        display       : flex;
        flex-direction: row;
    }
}

@media (max-width: 575px) {
    #invoice_filter {
        display       : flex;
        flex-direction: column;
    }
    .billing-list-title{
        display: none;
    }
}