@charset "utf-8";
@import url("base.css");
@import url("board.css");
@import url("font/font.css");



body{height:100%; min-width:1460px;   background: #e7ecf4; }


/* footer */
#footer{display:block; height:70px; line-height: 70px; border-top:1px solid #ddd; text-align: center; background: #fff; color:#656e73;}

.wrap{}
.wrap:after{content:""; display:block; clear:both;} 


#contents{clear: both; margin:0 auto; width:1400px; padding-top:20px; min-height:800px;}
#contents:after{content:""; display:block; clear:both;} 

.contBox{margin-bottom:30px; background: #fff; box-shadow: 0 2px 7px rgba(69,72,95,0.1); }
.contBox .inner{padding:20px;}
.contBox .inner.pd0{padding:0px;}


/* title */
h2, h3, h4, h5{display:block; min-height: 1.6em; line-height: 1.6em; }
h2{display:inline-block; color:#333; font-family: 'Montserrat','Malgun Gothic', '맑은고딕','돋움','dotum',sans-serif;}
h2{font-size:24px; font-weight:600;}
h3{font-size:15px; font-weight: bold;}
h4{font-size:17px; font-weight: bold;}
h5{font-size:13px; color:#333; margin-bottom:5px;}

.tit_h2{height:35px; line-height: 35px; margin-bottom:10px;}
.tit_h2 span{display:inline-block; font-size:13px; color:#666; margin-left:10px;}
.tit_h2 p{display:block; font-size:13px; color:#666; margin-left:30px; line-height: 1.2;}

.tit_h3{height:50px; line-height: 50px; margin-bottom:0; padding:0 10px; background: #f7faff; border-bottom:1px solid #edf0f4; font-size:15px; color:#555e63;}
.tit_h3 > b{}














/* modal popup */
.close { float: right; font-size: 1.5rem; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; opacity:1; }
.close:hover, .close:focus { color: #000; text-decoration: none; opacity: .75; }
.close:not(:disabled):not(.disabled) { cursor: pointer; }
button.close { padding: 0; background-color: transparent; border: 0; -webkit-appearance: none; }
button.close span:before{clear:both; display:inline-block;content:"\e921"; font-family: 'xeicon'; font-size:18px; font-weight: normal;}



.modal-open { overflow: hidden; padding:0 !important; }
.modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: none; overflow: hidden; outline: 0; z-index: 1050;}
.modal-open .modal { overflow-x: hidden; overflow-y: auto;  }
.modal-dialog { position: relative; width: auto; max-width:none; margin: 0.5rem; pointer-events: none; }
.modal.fade .modal-dialog { transition: -webkit-transform 0.3s ease-out; transition: transform 0.3s ease-out; transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; -webkit-transform: translate(0, 0); transform: translate(0, 0); }
.modal.show .modal-dialog { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
.modal-dialog-centered { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: calc(100% - (0.5rem * 2)); }
.modal-content { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 600px; margin:0 auto; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 0 !important; outline: 0; box-shadow: 0 5px 10px rgba(0,0,0,.3); border-radius:0 !important;}
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000; }

.modal-header { padding:10px 10px 10px 20px; vertical-align: middle; text-align: left; border-bottom:1px solid #ddd; border-radius: 0 !important;}
.modal-title, .modal-header .close{height:40px; line-height: 40px;}
.modal-header .close {width:40px; padding:0; margin:0;  color:#333;}
.modal-title {display:inline-block; margin-bottom: 0; font-size:16px; font-weight: normal !important; color:#222; }
.modal-body { position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 30px; }
.modal-footer {display:block; padding:30px; padding-top:0; border-top:none; text-align: center;}
.modal-footer a {padding:0 20px; margin-right:0;}
.modal-footer a + a{margin-left:0px !important; margin:0 !important;}
.modal-footer > :not(:first-child) { margin-left: 3px;}
.modal-footer>:not(:last-child){margin:0 !important;}

.modal_xs{width:350px;}
.modal_sm{width:400px;}
.modal_md{width:600px;}
.modal_lg{width:800px;}






/* datepicker 속성 변경 */
.input-group.date{display:inline-flex; width:150px;}
.input-group.date input{background: #fff !important;}
.input-group.date .btn{padding:0; font-size:16px; text-align: center; width:30px !important; display:inline-block; }
td.day.active.today, .day.active{background: #3f398f !important;}
.datepicker th.next, .datepicker th.prev {font-family: 'xeicon';}





/* 검색박스 */
.searchWrap{position:relative; padding:5px 60px 5px 10px ; border:1px solid #cdd5d8; background: #f0f2f5; text-align: center; border-radius:5px; }
.searchWrap:after{clear:both; display:block; content: '';}
.searchWrap tr{border:none;}
.searchWrap th{color:#444; white-space: nowrap; width:auto; padding:5px 0; padding-right:10px;}
.searchWrap td{padding:5px 0; padding-right:20px;}
.searchWrap > .btn{position:absolute; right:10px; bottom:10px; }




/*input  첨부파일*/
.fileBox{height:30px; line-height: 30px;}
.fileBox:after{content:""; display:block; clear:both;} 
.fileBox .fileName {float:left; width:calc(100% - 83px); height:30px; margin-right:0px; border-radius:3px; line-height:30px;border:1px solid #bfc5cb !important;background-color:none;vertical-align:middle}
.fileBox .btn_file {float:right; width:80px;height:30px; line-height:30px; border-radius:3px; font-size:12px; background: #748187; text-align:center;vertical-align:middle; color:#fff;}
.fileBox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}







/* ==============================
style start
============================== */

.summary > .wrap{ margin-left:-15px; margin-right:-15px;}
.summary .row1 > li, .summary .row2 > li {float:left; padding:0 15px;}
.summary .row1 li{width:33.3%; }
.summary .row2 li{width:50%;}

.summary .row1 .contBox{height:300px; }
.summary .row2 .contBox{min-height:643px; }


.contBox .date{font-size:15px; color:#222; text-align: left; font-weight:500; margin-bottom:20px; font-family: 'Montserrat','Malgun Gothic', '맑은고딕','돋움','dotum',sans-serif;}


.summary .charge{ font-family: 'Montserrat','Malgun Gothic', '맑은고딕','돋움','dotum',sans-serif;}
.summary .charge p{display:block; padding:0 20px; background: #f3f6fa; }
.summary .charge p:after{content:""; display:block; clear:both;} 
.summary .charge p i, .summary .charge p b{height:75px; line-height: 75px; }
.summary .charge p i{float:left; font-size:13px; color:#222; font-weight: bold;}
.summary .charge p b{float:right; font-size:24px; color:#574cf2; font-weight:600; letter-spacing: 0;}
.summary .charge p b u, .summary .charge ul b u{font-size:0.8em; font-family:'Malgun Gothic', '맑은고딕','돋움','dotum',sans-serif;}

.summary .charge ul{margin-top:30px; text-align: center;}
.summary .charge ul li{display:inline-block; width:49%;}
.summary .charge ul li:first-child{border-right:1px solid #ddd;}
.summary .charge ul i, .summary .charge ul b{line-height: 1.6; display:block; text-align: center;}
.summary .charge ul i{font-size:13px; color:#777;}
.summary .charge ul b{font-size:20px; color:#272727; font-weight: 500; letter-spacing: 0;}

.summary > ul.wrap  {
    list-style-type: none;
}

.table_row {
    padding: 10px;
}


/* chart */
#chartdiv1 { width: 100%; height: 210px; }
#chartdiv2{ width: 100%; height: 210px; }
#chartdiv3{ width: 100%; height: 500px; }
#chartdiv4{ width: 100%; height: 500px; }





.bAlarm > .wrap{ margin-left:-15px; margin-right:-15px;}
.bAlarm > .wrap > li {float:left; padding:0 15px;}
.bAlarm li.l{width:70%; }
.bAlarm li.r{width:30%; }


.bAlarm .contBox{min-height:600px;}


/* input 에러 txt */
.txt_error{margin-top:5px; min-height:1.2em; line-height: 1.2; color:#ec3354 !important; font-size:12px;}
.txt_error i{margin-right:5px;}

input + .txt_info{margin-left:10px;}
.txt_info{font-size:12px; color:#888;}











