<div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
  <div class="col-12 col-sm-auto text-center">
{#    <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2020 &copy; <a href="https://themewagon.com">Themewagon</a></p>#}
    <p class="mb-0 text-600">(주)클라우드메이트 | 대표이사 : 윤주현 | 서울시 구로구 경인로 576 |
      <a href="{% url 'info-protection-latest' %}">개인정보처리방침</a>
      연락처 : 82-2-2069-1980 | E-MAIL : contact@cloudmt.co.kr | 사업자번호 : 789-81-01310
    </p>
  </div>
  <div class="col-12 col-sm-auto text-center">
    <p class="mb-0 text-600">© 2021~Present CLOUDMATE. All Rights Reserved.</p>
  </div>
</div>