{% load static %}
{% load last_month from custom %}
<nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">

      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

    </div>
    <a class="navbar-brand" href="{% url 'index' %}">
      <div class="d-flex align-items-center py-3">
        <img src="{% static 'img/logos/cloudmate_logo-h40.png' %}" style="height: 40px;"/>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content perfect-scrollbar scrollbar">
      <ul class="navbar-nav flex-column">
        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="home">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Home</span>
            </div>
          </a>
          <ul class="nav collapse show" id="home" data-parent="#navbarVerticalCollapse">
            <li class="nav-item active"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            {% for vendor in request.user.org_last_selected.vendors %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'dashboard' %}">{{vendor.get_vendorcode_display}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <div class="navbar-vertical-divider">
        <hr class="navbar-vertical-hr my-2" />
      </div>
      <ul class="navbar-nav flex-column">
        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#e-commerce" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="e-commerce">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-cart-plus"></span></span><span class="nav-link-text">Usage Report</span>
            </div>
          </a>
          <ul class="nav collapse show" id="e-commerce" data-parent="#navbarVerticalCollapse">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'invoices' %}?date_start={% last_month %}&date_end={% now 'Y-m' %}">청구서 관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'manage_payments' %}">결제수단 관리</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="settings px-3 px-xl-0">
        <div class="navbar-vertical-divider px-0">
          <hr class="navbar-vertical-hr my-3" />
        </div><a class="btn btn-sm btn-block btn-purchase mb-3" href="https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/">
          문의하기</a>
      </div>
    </div>
  </div>
</nav>