{% extends '_base_auth.html' %}
{% load static %}
{% block contents %}
<div class="container" data-layout="container">
  <div class="row flex-center min-vh-100 py-6 text-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4"
        href="{% url 'index' %}"><img src="{% static 'img/logos/cloudmate_logo-h40.png' %}" alt="" /></a>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          <h5 class="mb-0">비밀번호 복구</h5><small>새로 사용할 비밀번호를 입력하세요.</small>
          <form method="post" style="max-width: 500px; margin: 100px auto">
            <div style="text-align: center;">
            </div>
            {% csrf_token %}
            <input type="hidden" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">**</span>
              <input type="{{ form.new_password1.field.widget.input_type }}"
                value="{{ form.new_password1.value|default_if_none:'' }}" class="form-control" placeholder="새 비밀번호"
                aria-label="새 비밀번호" aria-describedby="basic-addon1" name="{{ form.new_password1.html_name }}" />
            </div>
            {% if form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.new_password1.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">**</span>
              <input type="{{ form.new_password2.field.widget.input_type }}"
                value="{{ form.new_password2.value|default_if_none:'' }}" class="form-control" placeholder="비밀번호 확인"
                aria-label="비밀번호 확인" aria-describedby="basic-addon1" name="{{ form.new_password2.html_name }}" />
            </div>
            {% if form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.new_password2.errors }}
            </div>
            {% endif %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">
              비밀번호 복구
            </button>
            <a class="w-100 btn btn-lg btn-link" href="{% url 'login' %}">취소</a>
          </form>
        </div>
      </div>
    </div>

    <div class="card" style="margin: 20px;">
      <div class="card-body">
        (주)클라우드메이트 | 대표이사 : 윤주현 | 서울시 구로구 경인로 576 |
        <a href="https://cloudmt.co.kr/?page_id=3">개인정보처리방침</a>
        연락처 : 82-2-2069-1980 | E-MAIL : contact@cloudmt.co.kr | 사업자번호 :
        789-81-01310 | © 2021~Present CLOUDMATE. All Rights Reserved.
      </div>
    </div>

  </div>
</div>
{% endblock %}