{% extends 'portal/base.html' %}
{% block body %}
<div class="container-fluid">
  <form method="post" action="{% url 'password_reset_confirm' %}" style="max-width: 500px; margin: 100px auto">
    <div style="text-align: center;">
      <h2>Mate365 Billing</h2>
      <p>새로 사용할 비밀번호를 입력하세요.</p>
    </div>
    {% if form.error_messages %}
    <div class="alert alert-danger" role="alert">
      새 비밀번호, 비밀번호 확인이 일치하지 않습니다. 다시 입력하세요.
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">**</span>
      <input type="{{ form.new_password1.field.widget.input_type }}"
        value="{{ form.new_password1.value|default_if_none:'' }}" class="form-control" placeholder="새 비밀번호"
        aria-label="새 비밀번호" aria-describedby="basic-addon1" name="{{ form.new_password1.html_name }}" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">**</span>
      <input type="{{ form.new_password2.field.widget.input_type }}"
        value="{{ form.new_password2.value|default_if_none:'' }}" class="form-control" placeholder="비밀번호 확인"
        aria-label="비밀번호 확인" aria-describedby="basic-addon1" name="{{ form.new_password2.html_name }}" />
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="password_reset_confirm">
      비밀번호 복구
    </button>
    <input type="hidden" name="next" value="{{ next }}" />
    <a class="w-100 btn btn-lg btn-link" href="/auth/login">취소</a>
  </form>
</div>
{% endblock %}